body.distractionFree {
    overflow: hidden !important;
}

body.distractionFree .distractionFree-overlay {
    background: #262626 !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

body.distractionFree #pagelet_dock {
    position: relative;
    z-index: 999;
}

body.distractionFree #pagelet_sidebar {
    position: relative;
    z-index: 999;
}

body.distractionFree #pagelet_bluebar {
    position: relative;
    z-index: 0;
}

body.distractionFree #globalContainer {
    position: relative;
    z-index: 0;
}

.toggleChat {
    background-image: linear-gradient(#F6F6F8,#F7F7F8);
    border-right: 1px solid #B5BBC8;
    border-left: 1px solid #B5BBC8;
    border-top: 1px solid #B5BBC8;
    border-bottom: 1px solid #CCC;
    border-radius: 3px 3px 0 0;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.9), 0 0 2px rgba(50,50,50,0.1);
    float: right;
    padding: 5px;
    text-align: center;
    width: 110px;
}

.toggleChat:hover {
    cursor: pointer;
    background-image: linear-gradient(#F5F5F5,#F6F6F6);
}

@media screen and (max-width: 1255px) {
    .sidebarMode ._48gf {
        right: 53px !important;
    }
}
